hr {

  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  margin-top: 5px;
  margin-bottom: 5px;
  border-width: 5px;
  width:  12%;

}

body{
  margin: 0;
  background-color: #99b898;
}
.insider body{
  text-align: center;
}
.RE-Welcome{
    text-align: center;
     margin-top:-15px;
 padding: 50px;

}
.RE-Why{
    text-align: center;
     margin-top:-15px;
      padding: 50px;

}
.RE-What{
    text-align: center;
     margin-top:-15px;
 padding: 50px;
}


h1{
  color: #086972;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #086972;
  color: #45b29a;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
}

.FAQ{
  margin-top: 0;
  padding-left: 50px;
}
 .button1 {
   background-color: #84a9ac;
   border: none;
     color: #84a9ac8;
     padding: 15px 32px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     margin: 4px 2px;
     cursor: pointer;
   } /* Green */

   .RE_Rakhi2{
     width: 400px;
     height: 100px;
     position: absolute;
     top: 500px;
     right: 100px;
   }
   /* resize images */
.RE_Rakhi2 img {
    width: 80%;
    height: auto;
}

   .container {
    width: 400px;
    height: 100px;
    position: absolute;
    right: 100px;
}
   /* resize images */
.container img {
    width: 80%;
    height: auto;
}


/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;

  padding: 20px 10px;
}
/* Style the header links */
.header a {

  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}


.MeetRubina-Row{
  width: 70%;
  margin: 50px auto 100px auto;
  text-align: left;
  line-height: 1.5;

}
.MeetRubina-Row2{
  width: 70%;
  margin: 100px auto 100px auto;
  text-align: right;
  line-height: 1.5;

}
.MeetRubina-Row3{
  width: 70%;
  margin: 50px auto 100px auto;
  text-align: left;
  line-height: 1.5;


}
.rubina-img1{
  width: 20%;
  float: left;
  margin-right: 20px;
}
.rubina-img2{
  width: 20%;
  float: right;
  margin-left: 20px;
}

.rubina-img3{
  width: 20%;
  float: left;
  margin-right: 20px;
}
.header{
  transition: 0.2s;
  text-align: right;
  color: black;
}
.header p{
  text-align: right;
  margin-left: 250px;
}
